<form action="" method="POST">
								{% csrf_token %}
  <p>Логин</p>
<input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">								<p>Email</p>
  <input type="email" name="email" maxlength="254" id="id_email">
								<p>Пароль</p>
  <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
								<p>Повтор пароля</p>
  <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
  <p>Имя</p>
  <input type="text" name="first_name" maxlength="150" id="id_first_name">
  <button type="submit" name="register">Войти</button>
</form>