<div class="box">
                <div class="foot">
<!--                    -->
                    <div class="foot__social">
                        <p class="foot__text">СОЦ. СЕТИ</p>
                        <div class="foot__line"></div>
                        <a href="{% url 'vk' %}" class="foot__link">VKONTAKTE</a>
                        <a href="{% url 'inst' %}" class="foot__link">INSTAGRAM</a>
                        <a href="{% url 'git' %}" class="foot__link">GITHUB</a>
                    </div>
<!--                    -->
                    <div class="foot__?"></div>
<!--                    -->
                    <div class="foot__?"></div>
<!--                    -->
                    <div class="foot__?"></div>
<!--                    -->
                </div>
            </div>